#resultdesign {
  display: none;
}

#resultjva {
  display: none;
}

#resultphp {
  display: none;
}

#resultcsharp {
  display: none;
}

#resultruby {
  display: none;
}

#tryagain {
  display: none;
}

/*.container-fluid {
  padding: 75px;
  font-family: "palatino", serif;
}
h1 {
  margin-bottom: 30px;
  font-family: impact;
  text-decoration: underline;
}

p {
  font-weight: bold;
}*/
