#resultdesign {
  display: none;
}

#resultjva {
  display: none;
}

#resultphp {
  display: none;
}

#resultcsharp {
  display: none;
}

#resultruby {
  display: none;
}

#tryagain {
  display: none;
}

.container-fluid {
  padding: 75px;
  font-family: "palatino", serif;

}
h1 {
  margin-bottom: 3px;
  font-family: arial serif!important;
  text-align: center;
  border-style: double;
  border-width: 10px;
  padding: 5px;
  font-size: 500%;
}

#introp {
  font-weight: bold;
  padding: 20px;
  font-size: 110%;

}

body {
  background-image: url(../img/path.jpg);
  }
h3 {
  text-decoration: underline;
}
